<section class="py-20 px-0 relative w-screen" id="about">
  <img
    class="absolute h-full left-1/2 object-cover pointer-events-none top-0 transform -translate-x-1/2 w-[100vmax] z-[-1]"
    src="./images/smart.jpg"
    alt="purple and blue abstract background"
  />
  <div
    class="bg-gray-200 w-3/5 p-16 text-center my-12 mx-auto max-md:p-8 rounded-md"
  >
    <h2 class="font-normal m-0 pt-4 text-4xl">About Myself</h2>
    <p class="text-2xl font-light mb-0 mt-4 leading-[1.5] text-gray-500">I'm a
      Software Engineering student studying at National University of Sciences
      and Technology. With 2.2 x years of experience in Data Engineering
      providing both on-premise and cloud-based solutions</p>
    <hr class="m-10" />
    <ul
      class="text-left columns-2 text-base my-8 mx-12 gap-12 list-outside list-disc max-md:columns-1 max-md:text-base max-md:my-4 max-md:mx-auto"
    >
      <li class="leading-[1.7] text-gray-900">Data Engineering</li>
      <li class="leading-[1.7] text-gray-900">Spark streaming Pipeline</li>
      <li class="leading-[1.7] text-gray-900">Problem-Solving</li>
      <li class="leading-[1.7] text-gray-900">Database Management</li>
      <li class="leading-[1.7] text-gray-900">ETL Pipeline</li>
      <li class="leading-[1.7] text-gray-900">Azure Data Factory (ADF) Pipelines</li>
    </ul>
    <hr class="m-10" />
    <p
      class="px-12 pb-0 pt-4 text-[1.5] font-light mb-0 mt-4 leading-[1.5]"
    >{{aboutDesc}}</p>
  </div>
</section>