<div
  id="footer"
  class="flex flex-col items-center gap-10 pt-20 pb-8 px-0 bg-indigo-600 w-screen"
>
  <div class="flex justify-center gap-10">
    <a href="mailto:faisalwattoo475@gmail.com">
      <img src="./images/socials/envelope.svg" alt="email" class="h-8 w-8" />
    </a>
    <a
      href="https://github.com/faisalxWattoo"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="./images/socials/github.svg" alt="GitHub" class="h-8 w-8" />
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img
        src="./images/socials/instagram.svg"
        alt="Instagram"
        class="h-8 w-8"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/faisal-r-wattoo"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="./images/socials/linkedin.svg" alt="LinkedIn" class="h-8 w-8" />
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img src="./images/socials/twitter.svg" alt="Twitter" class="h-8 w-8" />
    </a>
  </div>
  <p class="text-sm mt-0 text-white">
    Created by Faisal Riaz
  </p>
</div>