<section id="home" class="min-h-screen relative w-screen">
  <img
    class="absolute h-full left-1/2 object-cover pointer-events-none top-0 transform -translate-x-1/2 w-[100vmax] z-[-1]"
    src="./images/medium-shot.jpg"
    alt="background-image"
  />
  <div class="absolute top-20 left-8 w-64">
    <h1
      class="text-[#f0f8ff] whitespace-nowrap font-cormorant-garamond text-8xl font-normal m-0 max-md:text-4xl"
    >Faisal Riaz</h1>
    <h2
      class="text-[#f0f8ff] whitespace-nowrap font-normal m-0 pt-4 text-3xl"
    >Software Engineer</h2>
  </div>
  <div class="absolute left-1/2 bottom-12">
    <a href="#about"><img
        src="./images/down-arrow.svg"
        class="h-12 w-12 hover:animate-bounce max-md:h-8 max-md:w-8"
        alt="arrow-image"
      /></a>
  </div>
</section>