<div
  id="navbar"
  class="fixed flex justify-center gap-8 p-4 top-0 w-full z-10 bg-opacity-75 bg-white"
>
  <a href="/" class="text-indigo-900 hover:text-[#410179]">Home</a>
  <a href="about" class="text-indigo-900 hover:text-[#410179]">About</a>
  <a href="portfolio" class="text-indigo-900 hover:text-[#410179]">Portfolio</a>
  <a href="contact" class="text-indigo-900 hover:text-[#410179]">Contact</a>
</div>